.card{
    height: 100px;
    font-size: 24px;
}

.progress-bar{
    animation-name: slide;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes slide{
    from {width: 0%;}
    to {width: 100%;}
}